# Exam Scores
### *understanding the student position during exams*

Exams are something every student has had to face at somepoint in their lives. In this assignment, I wanted to see how the Gender, Parental Education, Lunch, and Test Prep Courses Completion, affect the grades of students in Math, Reading and Writing.

In [72]:
# import the basic libraries needed to load, clean and analyse the data
import numpy as np
import pandas as pd 
import matplotlib as mpl
import os

## Importing The Data
I'm importing this data from a csv file held in the same directory. This is because the source of this data requires and account to download it, so using python to grab it is not ideal.

In [73]:
# loading from csv file on file system
data_file = "exams.csv"

# read and set columns
raw_data = pd.read_csv(data_file)
raw_data.columns = ["gender", "race", "parent_ed", "lunch", "test_prep_course", "math", "reading", "writing"]

## Data Cleaning
#### I will be removing columns that will not be analised in this data set, such as race, as well as any null values that might persist

In [74]:

# remove null values that might persist
data = raw_data.dropna(axis=0) 

# dropping this column since I don't plan on using it
data = data.drop('race', axis=1)

# lets see what options we have for our non-numeric columns
print("Gender           :", ", ".join(raw_data['gender'].unique()))
print("Parent Educations:", ", ".join(raw_data['parent_ed'].unique()))
print("Lunches          :", ", ".join(raw_data['lunch'].unique()))
print("Test Prep Done   :", ", ".join(raw_data['test_prep_course'].unique()))

Gender           : male, female
Parent Educations: high school, some high school, some college, associate's degree, bachelor's degree, master's degree
Lunches          : standard, free/reduced
Test Prep Done   : completed, none

##### Now that we can see some of our categorical data, we can further clean it

In [79]:
# replace the test prep course with 1 for true and 0 for false
data = data.replace({'test_prep_course': {'completed': 1, 'none': 0}})

# a simple ranking for the education level
education_ranking = {
    'some high school'   : 0,
    'high school'        : 1,
    'some college'       : 2,
    "associate's degree" : 3,
    "bachelor's degree"  : 4,
    "master's degree"    : 5
}

# replace the parent education with a scalar value, lower = worse, higher = better
data = data.replace({'parent_ed': education_ranking})

# # add a new colum so we can see the parent education value next to the education level
# data['parent_ed_num'] = [ education_ranking.get(x) for x in data['parent_ed'] ]

# re-order the columns 
data = data[["gender", "parent_ed", "lunch", "test_prep_course", "math", "reading", "writing"]]

In [80]:
data

     gender  parent_ed         lunch  test_prep_course  math  reading  writing
0      male          1      standard                 1    67       67       63
1    female          0  free/reduced                 0    40       59       55
2      male          2  free/reduced                 0    59       60       50
3      male          1      standard                 0    77       78       68
4      male          3      standard                 1    78       73       68
..      ...        ...           ...               ...   ...      ...      ...
995    male          1      standard                 0    73       70       65
996    male          3  free/reduced                 1    85       91       92
997  female          0  free/reduced                 0    32       35       41
998  female          2      standard                 0    73       74       82
999    male          2      standard                 1    65       60       62

[1000 rows x 7 columns]