In [2]:

val x = listOf("a", "b", "c")
x

[a, b, c]

In [4]:
val xs = mutableListOf("a", "b", "c")
xs

[a, b, c]

In [5]:
xs.remove("b")

true

## Pairs

In [7]:
Pair(0, 1)

(0, 1)

In [8]:
var xs = Pair<String, Int>("hello", 1)

In [12]:
// destructuring: bind components of pairs to symbols directly in the declaration

val (x, y) = xs

println("x = $x, y = $y")

x = hello, y = 1

## immutable maps

In [13]:
// mapOf(key to val, key to val, ...) is the contructor for immutable maps
// type Map<k, v>

val m = mapOf("Jack" to 1, "Jill" to 2)
m

{Jack=1, Jill=2}

In [15]:
// "Jack" to 1
// this is actually an object.method(arg) invocation:
// possible because of infix fun String.to(value: Any)
"Jack".to(1)

(Jack, 1)

In [16]:
// check if key exists
"Jack" in m

true

In [17]:
"Joe" in m

false

In [18]:
m["Jack"]

1

In [19]:
m["Joe"]

null

In [21]:
// suppose m : Map<K, V>
// map.get(Key, K) : V? 
m.get("Jack")

1

In [23]:
m.get("Jack")?.toFloat()

1.0

In [24]:
val i = m.get("Jack")

if(i != null)
{
    println(i.toFloat())
}

1.0

## For-loops over collections

In [26]:
val x = listOf("Jack", "Jill", "Joe")

for(i in x)
{
    println(i)
}

Jack
Jill
Joe

In [28]:
val grades = mapOf(
    "Jack" to 90,
    "Jill" to 95,
    "Joe"  to 10
)

// loop through pairs
for(pair in grades)
{
    println(pair)
}

// deconstruction
for((name, grade) in grades)
{
    println("$name received a grade of $grade")
}

Jack=90
Jill=95
Joe=10
Jack received a grade of 90
Jill received a grade of 95
Joe received a grade of 10

In [29]:
val ranks = listOf("Jack", "Jill", "Joe")

// java way 
for(i in 0 until ranks.size)
{
    val name = ranks[i]
    println("$name has rank of ${i + 1}")
}

Jack has rank of 1
Jill has rank of 2
Joe has rank of 3

In [30]:
ranks.withIndex().toList()

[IndexedValue(index=0, value=Jack), IndexedValue(index=1, value=Jill), IndexedValue(index=2, value=Joe)]

In [32]:

for((index, value) in ranks.withIndex())
{
    println("$value has rank $index")
}

Jack has rank 0
Jill has rank 1
Joe has rank 2

## Programming with higher order methods

In [33]:
// declare helper function that converts day: Int to weekday: String
val dayOfWeek : (Int) -> String = {
    when(it)
    {
        1 -> "Monday"
        2 -> "Tuesday"
        3 -> "Wednesday"
        4 -> "Thursday"
        5 -> "Friday"
        6 -> "Saturday"
        7 -> "Sunday"
        else -> "Error"
    }
}

dayOfWeek(5)

Friday

## Map

In [34]:
listOf(1, 2, 3, 4, 5).map(dayOfWeek)

[Monday, Tuesday, Wednesday, Thursday, Friday]

In [35]:
10 % 5

0

In [37]:
(1..10).map({
    i -> i * i
})

// can drop the () 
(1..10).map {
    i -> i * i
}

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
(1..10).map {
    (1..7).random()
}.map(dayOfWeek)

[Saturday, Sunday, Sunday, Saturday, Tuesday, Saturday, Tuesday, Saturday, Tuesday, Tuesday]

In [43]:
// Map<K, V>.map((Pair<K,V>) - T)
val grades = mapOf(
    "Jack" to 90,
    "Jill" to 80,
    "Joe"  to 70
)

grades.map{
    (name, grade) -> "$name got grade $grade"
}

[Jack got grade 90, Jill got grade 80, Joe got grade 70]

## Foreach method

In [46]:
grades.forEach{
    (name, grade) -> println("$name got grade $grade")
}

Jack got grade 90
Jill got grade 80
Joe got grade 70

## Filter

In [47]:
// takes a predicate function

(1..10).filter {
    it % 2 == 0
}

[2, 4, 6, 8, 10]

In [51]:
grades.filter {
    (name, grade) -> grade > 79
}

{Jack=90, Jill=80}

In [53]:
// fun examples, getting primes
(2 .. 1000).filter{
    n -> (2 until n).filter{ n % it == 0}.size == 0
}

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [54]:
infix fun Int.isFactorOf(number:Int) = (number % this == 0)

In [56]:
(2..1000).filter{n -> (2 until n).none { it isFactorOf n}}

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

## Agregation (aka reduce)

In [61]:
(1.. 1_000_000).reduce{
    x, y -> x + y
}

1784293664

In [71]:
(1..10).map{
    dayOfWeek((1..7).random())
}.fold(0, {total, string -> total + string.length})

// can pull the last param out as a lambda as well
(1..10).map{
    dayOfWeek((1..7).random())
}.fold(0) {
    total, string -> total + string.length
}

67

## scope function
https://kotlinlang.org/docs/scope-functions.html

In [74]:
data class Address(
    var number : Int,
    var street : String,
    var city : String
)

data class Student(
    val name : String,
    var grade : Int,
    val address : Address
)

var jack = Student(name="Jack", grade=80, address=Address(2000, "Simcoe Street North", "Oshawa"))
jack

Student(name=Jack, grade=80, address=Address(number=2000, street=Simcoe Street North, city=Oshawa))

In [76]:
// java style

val formattedAddress = "${jack.address.number} ${jack.address.street}, ${jack.address.city}"
formattedAddress

2000 Simcoe Street North, Oshawa

## Scope function: let

- `oject.let {...}`
- the calle object is the parameter to the anonymous function
- Evaluates the return-value of the anonymous fucntion

In [79]:
jack.address.let {
    "${it.number} ${it.street}, ${it.city}"
}

2000 Simcoe Street North, Oshawa

## Scope function: run

- `object.run {...}`
- the caller is referred by `this` in the scope.
- Evaluates to the return-value of the anonymous function

In [81]:
jack.address.run{
    "${this.number} ${this.street}, ${this.city}"
}

// but remember we don't need to use this.
jack.address.run{
    "${number} ${street}, ${city}"
}

2000 Simcoe Street North, Oshawa

## Scope function that updates the object: apply

- `object.apply {...}`
- Caller object appears as `this` inside the scope.
- Evalues to the object

In [82]:
jack.address

Address(number=2000, street=Simcoe Street North, city=Oshawa)

In [85]:
// java way
jack.address.number = 12
jack.address.street = "Bloor St."
jack.address.city = "Toronto"

jack.address

Address(number=12, street=Bloor St., city=Toronto)

In [86]:
// using apply
jack.address.apply {
    this.number = 132
    street = "Younge street"
    city = "New York"
}

Address(number=132, street=Younge street, city=New York)