In [1]:
3.14

3.14

In [2]:
(quote (1 2 3))

(1 2 3)

In [3]:
[ 1 2 3 ]

[1 2 3]

In [5]:
{"firstname" "ken"
 "lastname"  "pu"}

{"firstname" "ken", "lastname" "pu"}

In [12]:
; better than using string 
{ :firstname "ken"
  :lastname  "pu"}

{:firstname "ken", :lastname "pu"}

In [8]:
; declare a function 
; Math/PI = 3.14... 
(fn [r] (* Math/PI r r))

; this is bad and you never do this

#function[user/eval4108/fn--4109]

In [9]:
; evaluate a function

((fn [r] (* Math/PI r r)) 8.5)

226.98006922186258

In [11]:
; basically map function
; apply + to each element 
; sum the given vector
(apply + [1 2 3 4 5])

15

In [15]:
; add all numbers
(+ 1 2 3 4 5 6 7 8 9)

45

In [14]:

; this doesn't work because (range 50) is not a number
(+ (range 50))

1225

In [16]:
(apply + (range 50))

1225

In [20]:
(def grade 60)

(cond 
    (>= grade 80)  "80 or more"
    (>= grade 70)  "70 or more"
    :else           "bad grade")

"bad grade"

In [24]:
(def discount (fn [age] 
                   (cond
                       (< age 5) 100
                       (< age 16) 20
                       (> age 65) 10
                       :else      0)))

(discount 5)

20

In [26]:
(def grades {:jack 90
 :jill 80
 :joe  76})

#'user/grades

In [35]:
(for [x grades] 
    (format "%s is %s" (x 0) (x 1)))

(":jack is 90" ":jill is 80" ":joe is 76")

In [36]:
; or

(for [[n g] grades]
    (format "%s is %s" n (cond
                             (>= g 90) "great"
                             (>= g 80) "good"
                             :else         "not good")))

(":jack is great" ":jill is good" ":joe is not good")

In [37]:

(for [[n g] grades
      :when (>= g 80)
      :let [result (cond
                             (>= g 90) "great"
                             (>= g 80) "good"
                             :else         "not good")]]
    (format "%s is %s" n result ))

(":jack is great" ":jill is good")

In [38]:
(do
    (+ 1 2)
    (println "hello")
    (+ 5 9))

hello

14

In [41]:
(for [x (range 10)]
    (do
        (println x)
        (+ x 0)))

(0
1
2
3
4
5
6
7
8
9
0 1 2 3 4 5 6 7 8 9)