In [1]:
# 1. create nested list d
d = [
    ["ID", "Age", "is_part_time", "salary"],
    [23,  34, True, 72000],
    [24,  22, True, 50000],
    [25, 69, False, 99000],
    [26, 62, False, 99001]
]

In [2]:
# 2.
import os
print(os.getcwd())

D:\Programming\CLONES\uni\CSCI2000U

In [5]:
# 3.
import csv

# open the file in the write mode
with open('worksheet3-d-list.csv', 'w', newline='') as f:

    # create the csv writer
    writer = csv.writer(f)

    for row in d:
        
        writer.writerow(row)

In [6]:
# 4.
import pandas as pd

d2 = pd.read_csv('worksheet3-d-list.csv')
print(d2)

   ID  Age  is_part_time  salary
0  23   34          True   72000
1  24   22          True   50000
2  25   69         False   99000
3  26   62         False   99001

In [18]:
# 5.
d = pd.Series(range(0, 5), index=[chr(i) for i in range(ord('a'), ord('f'))])
print(d)

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [20]:
# 6.
d2 = pd.Series(range(5, 10), index=[chr(i) for i in range(ord('a'), ord('e'))] + ['z'])
print(d2)

a    5
b    6
c    7
d    8
z    9
dtype: int64

In [22]:
# 7.
d3 = d + d2
print(d3)

a     5.0
b     7.0
c     9.0
d    11.0
e     NaN
z     NaN
dtype: float64

In [32]:
# 8.

print(d3[d3.isna()])

e   NaN
z   NaN
dtype: float64

In [40]:
# 9.

import pandas.util.testing

d4 = pd.util.testing.makeMixedDataFrame()
print(d4)

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [43]:
# 10.
import numpy as np

d4['greater'] = np.where(d4.A > 2, True, False)
print(d4)

     A    B     C          D  greater
0  0.0  0.0  foo1 2009-01-01    False
1  1.0  1.0  foo2 2009-01-02    False
2  2.0  0.0  foo3 2009-01-05    False
3  3.0  1.0  foo4 2009-01-06     True
4  4.0  0.0  foo5 2009-01-07     True